/*我的照片*/
.wrap_myphoto{height: 780px;background: white;}
.myphoto{height: 780px;background: white;}
.photo_nav{width: 600px;height: 60px;border:none;margin: 0 auto;padding-top: 55px}
.photo_nav li{float: left;font-family: myfone;font-size: 50px;letter-spacing: 2px;width: 120px;height: 60px;background: #66A4D7;margin-left: 25px;
				text-align: center;line-height: 60px;color: white;cursor: pointer;
				 background: -webkit-linear-gradient(left top, #3C8CC7 , #9AC8EC); /* Safari 5.1 - 6.0 */
			    background: -o-linear-gradient(bottom right, #3C8CC7, #9AC8EC); /* Opera 11.1 - 12.0 */
			    background: -moz-linear-gradient(bottom right, #3C8CC7, #9AC8EC); /* Firefox 3.6 - 15 */
			    background: linear-gradient(to bottom right, #3C8CC7 , #9AC8EC); /* 标准的语法（必须放在最后） */}
.photo_nav li.great_bg{background: -webkit-linear-gradient(left top, #6D4A6A , #676279); /* Safari 5.1 - 6.0 */
						    background: -o-linear-gradient(bottom right, #6D4A6A,  #676279); /* Opera 11.1 - 12.0 */
						    background: -moz-linear-gradient(bottom right, #6D4A6A,  #676279); /* Firefox 3.6 - 15 */
						    background: linear-gradient(to bottom right,#6D4A6A, #676279); /* 标准的语法（必须放在最后） */}
.photos{width: 1115px;height: 550px;margin: 0 auto;margin-top: 55px;}
.photos_div{width:263px;height:170px;float: left;margin-left: 20px;margin-bottom: 20px;position: relative;cursor: pointer;}
.photos_div>img{width: 263px;height: 170px;}
.photos_div.photos_one{margin-left: 0px;}
.dia_img{width: 263px;height: 170px;position: absolute;top: 0px;left: 0px;background: rgba(0,0,0,0.5);}
.dia_img img{position: absolute;top:70px;left: -32px;}
/*团队*/
.team{height: 500px;background:url(../img/happy-banner.jpg);background-size: 100% 500px;min-width: 1140px;}
.team_div{width: 915px;height: 142px;border-bottom: 1px solid white;margin: 0 auto;text-align: center;color: white;letter-spacing: 2px;}
.team_div h2{font-size: 26px;font-weight: normal;padding-top: 50px;}
.team_div p{font-size: 16px;margin-top: 25px;}
.team_word{width: 1150px;height: 75px;color: white;margin: 0 auto;border:none;font-size: 14px;letter-spacing: 2px;position: relative;margin-top: 70px;}
.team_word p{line-height: 30px;text-indent: 2em;position: absolute;left: 0px;}
.team_person{width: 360px;height: 82px;border:none;margin: 0 auto;margin-top: 40px;}
.team_person li{float: left;background: white;width:79px;height: 79px;margin-left:14px;position: relative;}
.team_person li:first-child{margin-left: 0px;}
.person_dia{position: absolute;width: 79px;height: 79px;background: rgba(0,0,0,0.3);top: 0px;left: 0px;}

/*弹框*/
.dialog{width: 100%;height: 100%;position: fixed;z-index: 99;top: 0px;left: 0px;}
.dialog_bg{width: 100%;height: 100%;opacity: 0.7;background: #000000;position: absolute;}
.dia_shang{width: 100%;height: 50px;background:url(../img/dia_bg1.png);position: absolute;top: 0px;left: 0px;border-bottom: 1px solid black;}
.dia_xia{width: 100%;height: 50px;background:url(../img/dia_bg.png);position: absolute;bottom: 0px;left: 0px;}
.dialog_content{width: 650px;height: 400px;background: white;
				position: relative;left: 50%;margin-left: -325px;top: 50%;margin-top: -200px; position: relative;overflow: hidden;}
.dialog_content img{position: absolute;top: 0px;left: 0px;width: 100%;height: 100%;}
.diaimg_one{z-index: 10;}
.close img{position: absolute;left: 30px;top: 10px;}
.next_img{position: absolute;right: 0px;bottom:2px;cursor: pointer;}
.next_one{right: 100px;bottom: 1px;}
.next_two{right: 20px;}














